/*______________profile styles______________*/
.profile,
.profile:hover,
.profile:active {
    font-size: 14px;
    text-decoration: none;
    width: 200px;
}

.profile img {
    height: 24px;
    width: 24px;
}

/*______________sign out user______________*/
.signout {
    background: linear-gradient(180deg, #FCFCFC 0%, #F2F2F2 100%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    width: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF6600;
}

.signout img {
    margin-right: 10px;
}

/*______________sign in user______________*/
.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.signin__img {
    background: linear-gradient(180deg, #FCFCFC 0%, #F2F2F2 100%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 23px;
    margin-right: 10px;
    padding: 5px;
}

.signin .signin__span {
    border-right: 1px solid #FFA381;
    padding-right: 16px;
}
